<div class="navigation-drawer-header">
    <div class="img-thumb">
        <img class="img-responsive" src="http://res.cloudinary.com/pattyzc/image/upload/v1415567618/papa_human-150x150_befsk3.png" alt="avatar"/>
    </div>
    {{>user/social-icons}}
</div>