<div class="navigation-drawer-header">
    <div class="img-thumb">
        <img class="img-responsive" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/077/2e9/15a1d22.jpg" alt="avatar"/>
    </div>
    {{>user/social-icons}}
</div>