<div class="navigation-drawer-header">
    <div class="img-thumb">
        <img class="img-responsive" src="http://res.cloudinary.com/pattyzc/image/upload/v1439853482/MiniMe_uuvefo.png" alt="avatar"/>
    </div>
    {{>user/social-icons}}
</div>