
.welcome-text.style1 {
  .line1 {
    color: #fff;
    @include fontMultiScreen(4, 0, 1, 2, 3, 4);
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .line2 {
    color: #fff;
    @include fontMultiScreen(4, 1, 2, 3, 4, 5);
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .line3 {
    color: #fff;
    @include fontMultiScreen(4, 1, 2, 3, 4, 5);
    margin-bottom: 10px;
  }
}

