<div class="widget">
    <div class="widget-title">
        <h3>
            Who's behind all this?
        </h3>
    </div>
    <div class="widget-content">
        <div class="split-container">
            <div class="left-content">
                <div class="img-thumb">
                    <img class="img-responsive" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/077/2e9/15a1d22.jpg" alt="avatar"/>
                </div>
            </div>
            <div class="right-content">
                <p>
                    Patty Zc, striving to be better at what I do... whatever that might be: Copywriter, Publicist, Producer, Mom, Beast Master, Wife, and many more...
                </p>
                {{>social-icons}}
            </div>
        </div>
    </div>
</div>