<div class="widget">
	<div class="widget-title">
		<h3>
			I am...
		</h3>
	</div>
	<div class="widget-content">
		<div class="split-container">
			<div class="left-content">
				<div class="img-thumb">
					<img class="img-responsive" src="http://res.cloudinary.com/pattyzc/image/upload/v1415567618/papa_human-150x150_befsk3.png" alt="avatar"/>
				</div>
			</div>
			<div class="right-content">
				<p>
					Claudio Rodriguez, self made developer for over 6 years. Passionate about Back-End performance and Front end Eye Candy, Android, >C++11, Web Technologies, Python, Computer Science, and LaTeX.
				</p>
				{{>social-icons}}
			</div>
		</div>
	</div>
</div>
