@import url('https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.demo-card-wide.mdl-card {
    width: 512px;
    margin: 0 auto;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background-image: url('https://farm1.staticflickr.com/520/19369967005_0dc811c9a0.jpg');
    background-position: center;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
body {
    padding: 20px 0 0;
    background: #fafafa;
    position: relative;
}