<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <link href="{{asset "img/favicon.ico"}}" rel="shortcut icon" type="image/x-icon">
    <link href="{{asset "img/apple-touch-icon-precomposed.png"}}" rel="apple-touch-icon">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if post}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="{{post.title}}">
    <meta name="twitter:description" content="{{post.excerpt}}">
    <meta name="twitter:creator" content="{{post.author.name}}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{post.title}}">
    <meta property="og:description" content="{{post.excerpt}}">
    <meta property="og:site_name" content="{{@blog.title}}">
    {{else}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="{{@blog.title}}">
    <meta name="twitter:description" content="{{@blog.description}}">
    <meta name="twitter:creator" content="{{@blog.title}}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{@blog.title}}">
    <meta property="og:description" content="{{@blog.description}}">
    <meta property="og:site_name" content="{{@blog.title}}">
    <meta property="fb:admins" content="">
    {{/if}}
    <meta name="google-site-verification" content="RDjtZZJlLJs5gRD8ple1ygWjLZ-bZuOdZ2yiBZgoQuM" /> {{! Change for Google Webmaster verification }}
    {{>css/bundle}}
    {{ghost_head}}
    <script type="text/javascript"> var sfThemeOptions = { global : {   rootUrl : '{{@blog.url}}' } }</script>
    {{! Place your Google Analytic here }}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-35752941-1', 'auto');
      ga('set', '&uid', 'UA-35752941');
      ga('require', 'linkid', 'linkid.js');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
	</script>
</head>
<body class="{{body_class}} {{block "customBodyClass"}}"
    data-site-layout="wide" {{!Site Layout Options: change it to 'boxed' or 'wide'  }}
    data-post-mode="multimedia" {{!Post Mode Options: change it to 'multimedia' or 'plain'  }}
    data-post-align="left" {{!Post Align Options: change it to 'left' or 'center'  }}
	data-uppercase="true" {{!Uppercase style: change it to 'true' or 'false'  }}
    >
    <div id="fb-root"></div>
    <!--[if lt IE 9]>
    <div class="outdated-frame">
        You are using an <strong>outdated</strong> browser. Please <a href="http://www.google.com/chrome/intl/en/landing_chrome.html">upgrade your browser</a>.
    </div>
    <![endif]-->
    <div class="body-wrap">
        {{>header/standard}}
        <div class="main-wrap">
            {{{body}}}
        </div>
    </div>
    {{ghost_foot}}
    <script>
        var links = ["{{asset "css/Roboto.css"}}", "{{asset "css/material.deep_purple-pink.min.css"}}", "{{asset "css/bootstrap.min.css"}}",
            "https://fonts.googleapis.com/icon?family=Material+Icons", "{{asset "css/prism.min.css"}}",
            "{{asset "css/font-awesome.min.css"}}", "{{asset "css/magnific-popup.min.css"}}",
            "{{asset "css/YTPlayer.css"}}"];
        var cb=function(){for(var e=0;e!=links.length;++e){var n=document.createElement("link");n.rel="stylesheet",n.href=links[e];var t=document.getElementsByTagName("head")[0];t.parentNode.insertBefore(n,t)}},raf=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;raf?raf(cb):window.addEventListener("load",cb);
    </script>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    <script async type="text/javascript" src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
    <script async type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
    <script async type="text/javascript" src="{{asset "js/jquery.mb.YTPlayer.js"}}"></script>
    <script async type="text/javascript" src="{{asset "js/waveform.js"}}"></script>
    <script async type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script async type="text/javascript" src="{{asset "js/jquery.magnific-popup.min.js"}}"></script>
    <script async type="text/javascript" src="{{asset "js/jqBootstrapValidation.min.js"}}"></script>
    <script async type="text/javascript" src="{{asset "js/imagesloaded.pkgd.min.js"}}"></script>
    <script async type="text/javascript" src="{{asset "js/pace.min.js"}}"></script>
    <script async type="text/javascript" src="{{asset "js/jquery.placeholder.min.js"}}"></script>
    <script async type="text/javascript" src="{{asset "js/sscr.js"}}"></script>
    {{#if post}}
        <script async type="text/javascript" src="{{asset "js/main.post.js"}}"></script>
    {{else}}
        <script async type="text/javascript" src="{{asset "js/main.js"}}"></script>
    {{/if}}
    {{#unless posts}}
        <script>
            [].forEach.call(document.querySelectorAll('.adsbygoogle'), function(){
                (adsbygoogle = window.adsbygoogle || []).push({});
            });
        </script>
    {{/unless}}
    {{{block "customScript"}}}
</body>
</html>