<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-nav-header">{{>nav-drawer-header}}</span>
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
        </nav>
    </div>
    <div class="mdl-layout__content">
        <div class="page-content">
            <div itemprop="articleBody" class="post-content">
                <div class="center-unknown">
                    <div class="el">
                        <!-- BlopTop -->
                        <ins class="adsbygoogle adslot_1"
                             style="display:inline-block;margin: 0 auto 0 auto; width: 100%;"
                             data-ad-client="ca-pub-1525337072631150"
                             data-ad-slot="3858661425"
                             data-ad-format="auto"></ins>
                    </div>
                </div>
                {{content}}
                <br/>
                <div class="center-unknown">
                    <div class="el">
                        <div id="zergnet-widget-32930"></div>
                        <div id="zergnet-widget-32875"></div>
                    </div>
                </div>
                <br/>
                <div class="share-box">
                    <div class="share-box-wrap">
                        <h3 class="box-title">Thanks for reading!</h3>
                        <span class="box-sub-title">Don't forget to spread the word:</span>
                        <ul class="social">
                            <li class="twitter">
                                <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share this post via Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="facebook">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share this post via Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="google">
                                <a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share this post via Google">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="linkedin">
                                <a href="http://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{title}}" target="_blank" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;" title="Share this post via Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div itemprop="comment" class="comment-box">
                {{>comment-box}}
            </div>
            <section class="next-post" data-current-url="{{url absolute="true"}}">
            </section>
        </div>
    </div>
</div>