{{!Begin of Social Icon List}}
<ul class="social">
    {{!Begin Social item}}
    <li class="facebook">
        <a href="https://www.facebook.com/pattyzc" target="_blank" title="Facebook">
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    {{!End Social item}}

    {{!Begin Social item}}
    <li class="google">
        <a href="https://plus.google.com/+PattyZcMx/about" target="_blank" title="Google">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>
    {{!End Social item}}

    {{!Begin Social item}}
    <li class="twitter">
        <a href="https://twitter.com/PattyZc" target="_blank" title="Twitter">
            <i class="fa fa-twitter"></i>
        </a>
    </li>
    {{!End Social item}}

    {{!Begin Social item}}
    <li class="linkedin">
        <a href="https://www.linkedin.com/in/patriciazc" target="_blank" title="linkedin">
            <i class="fa fa-linkedin"></i> {{!Change icon for social item here}}
        </a>
    </li>
    {{!End Social item}}

    {{!Begin Social item}}
    <li class="email">
        <a href="mailto:pattyzavalaa@gmail.com" target="_blank" title="email">
            <i class="fa fa-envelope-o"></i> {{!Change icon for social item here}}
        </a>
    </li>
    {{!End Social item}}
    {{!Paste your new social icon here}}
</ul>
{{!End of Social Icon List}}