@import 'common';

.modal-dialog {
  width: 100%;
  max-width: 70%;
}

.modal-content {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .modal-dialog {
    width: 100%;
    max-width: 90%;
  }
  .modal-content {
    width: 100%;
  }
}
