@import 'common';
@import '../properties';


.half-page-card.mdl-card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.half-page-card > {
  .mdl-card__title {
    background: center url('http://res.cloudinary.com/www-claudiordgz-com/image/upload/v1437673582/yuno_qdqyi8.jpg');
    color: $main-color;
    @extend .defaultTitleConfiguration;
    b {
      text-shadow: 0 1px 1px rgba(0, 0 ,0, 0.6);
    }
  }
  .mdl-card__title_two {
    @extend .defaultTitleTwoConfiguration;
  }
  .mdl-card__supporting-text {
    @include fontMultiScreen(0, 0, 0, 1, 1, 1)
  }
  .mdl-card__menu {
    color: #fff;
  }
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.mdl-cell--11-col {

}

.demo-content {
  border-radius: 2px;
  @include respond-to(phone) {
    padding: 10px 10px;
    margin-bottom: 10px;
  }
  @include respond-to(tablet-portrait) {
    padding: 12px 20px;
    margin-bottom: 20px;
  }
  @include respond-to(tablet-landscape-desktop) {
    padding: 15px 32px;
    margin-bottom: 20px;
  }
  @include respond-to(desktop) {
    padding: 18px 45px;
    margin-bottom: 30px;
  }
  @include respond-to(large-desktop) {
    padding: 20px 56px;
    margin-bottom: 40px;
  }
}

.demo-content h2 {
  margin-top: 20px;
}