.mdl-button--fab .material-icons {
  color: #ffffff;
}
.mdl-demo {
  .mdl-layout__header-row {
    padding-left: 40px;
  }
  .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
    font-size: inherit;
  }
  .mdl-layout__tab-bar-button {
    display: none;
  }
  .mdl-layout {
    &.is-small-screen .mdl-layout__tab-bar .mdl-button {
      display: none;
    }
    &:not(.is-small-screen) {
      .mdl-layout__tab-bar, .mdl-layout__tab-bar-container {
        overflow: visible;
      }
    }
  }
  .mdl-layout__tab-bar-container {
    height: 64px;
  }
  .mdl-layout__tab-bar {
    padding: 0;
    padding-left: 16px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    .mdl-layout__tab {
      height: 64px;
      line-height: 64px;
      &.is-active::after {
        background-color: white;
        height: 4px;
      }
    }
  }
  main > .mdl-layout__tab-panel {
    padding: 8px;
    padding-top: 48px;
  }
  .mdl-card {
    height: auto;
    display: flex;
    flex-direction: column;
    > * {
      height: auto;
    }
    .mdl-card__supporting-text {
      margin: 40px;
      flex-grow: 1;
      padding: 0;
      color: inherit;
      width: calc(100% - 80px);
    }
  }
  .mdl-card__supporting-text h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .mdl-card__actions {
    margin: 0;
    padding: 4px 40px;
    color: inherit;
    a {
      color: #00BCD4;
      margin: 0;
      &:hover, &:active {
        color: inherit;
        background-color: transparent;
      }
    }
  }
  .mdl-card__supporting-text + .mdl-card__actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  #add {
    position: absolute;
    right: 40px;
    top: 36px;
    z-index: 999;
  }
  .mdl-layout__content section:not(:last-of-type) {
    position: relative;
    margin-bottom: 48px;
  }
  section.section--center {
    max-width: 860px;
  }
  #features section.section--center {
    max-width: 620px;
  }
  section {
    > {
      header {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .section__play-btn {
        min-height: 200px;
      }
      header > .material-icons {
        font-size: 3rem;
      }
      button {
        position: absolute;
        z-index: 99;
        top: 8px;
        right: 8px;
      }
    }
    .section__circle {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-grow: 0;
      flex-shrink: 1;
    }
    .section__text {
      flex-grow: 1;
      flex-shrink: 0;
      padding-top: 8px;
      h5 {
        font-size: inherit;
        margin: 0;
        margin-bottom: 0.5em;
      }
      a {
        text-decoration: none;
      }
    }
    .section__circle-container > .section__circle-container__circle {
      width: 64px;
      height: 64px;
      border-radius: 32px;
      margin: 8px 0;
    }
    &.section--footer .section__circle--big {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      margin: 8px 32px;
    }
  }
  .is-small-screen section.section--footer .section__circle--big {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 8px 16px;
  }
  section {
    &.section--footer {
      padding: 64px 0;
      margin: 0 -8px -8px -8px;
    }
    &.section--center .section__text:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    }
  }
  .mdl-card .mdl-card__supporting-text > h3:first-child {
    margin-bottom: 24px;
  }
  .mdl-layout__tab-panel:not(#overview) {
    background-color: white;
  }
  #features {
    section {
      margin-bottom: 72px;
    }
    h4 {
      margin-bottom: 16px;
    }
  }
}

#features h5 {
  margin-bottom: 16px;
}

.mdl-demo {
  .toc {
    border-left: 4px solid #C1EEF4;
    margin: 24px;
    padding: 0;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    h4 {
      font-size: 0.9rem;
      margin-top: 0;
    }
    a {
      color: #4DD0E1;
      text-decoration: none;
      font-size: 18px;
      line-height: 28px;
      display: block;
    }
  }
  .mdl-menu__container {
    z-index: 99;
  }
}

.backgroundConfig {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.defaultTitleConfiguration {
  color: #fff;
  height: 176px;
  background-image: url('http://res.cloudinary.com/www-claudiordgz-com/image/upload/v1436713622/19369967005_0dc811c9a0_muuode.jpg');
  @extend .backgroundConfig;
}

.defaultTitleTwoConfiguration {
  color: #fff;
  height: 176px;
  @extend .backgroundConfig;
}

.demo-card-wide.mdl-card {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.demo-card-wide-small.mdl-card {
  max-width: 512px;
  width: 100%;
  margin: 0 auto;
}

.demo-card-wide > {
  .mdl-card__title {
    @extend .defaultTitleConfiguration;
  }
  .mdl-card__title_two {
    @extend .defaultTitleTwoConfiguration;
    width: 100%;
  }
  .mdl-card__supporting-text {
    font-size: 16px !important;
    width: 100%;
  }
  .mdl-card__menu {
    color: #fff;
  }
}

.demo-card-wide-small > {
  .mdl-card__title {
    @extend .defaultTitleConfiguration;
  }
  .mdl-card__title_two {
    @extend .defaultTitleTwoConfiguration;
  }
  .mdl-card__supporting-text {
    font-size: 16px !important;
  }
  .mdl-card__menu {
    color: #fff;
  }
}

/* Mixin */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Placeholder selector */
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

