@import 'common';
@import '../properties';


.half-page-card.mdl-card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.half-page-card > {

  .mdl-card__title {
    background: center url('http://res.cloudinary.com/www-claudiordgz-com/image/upload/v1437673582/yuno_qdqyi8.jpg');
    color: $main-color;
    @extend .defaultTitleConfiguration;
    b {
      background-color: rgba(255,255,255, 0.9);
    }
  }
  .mdl-card__title_two {
    @extend .defaultTitleTwoConfiguration;
  }
  .mdl-card__supporting-text {
    font-size: 16px !important;
  }
  .mdl-card__menu {
    color: #fff;
  }
}
