// Google Fonts
@import "properties";
@import "mixins";
@import "widgets/time-to-read-sharebox";
@import "pagination/main";
@import "mdl/main";
@import "sections/site-intro";
@import "sections/body-content";
@import "sections/header/main";
@import "posts/main";

.bodyProperties {
  font-family: $roboto;

  @include fontMultiScreen(0, 0, 0, 0, 0, 0);

  font-weight: 400;

  @include font-smoothing;

  margin: 0;
  padding: 0;
}

* {
  @extend .bodyProperties;
}

body {
  @extend .bodyProperties;

  background-color: #fff;
}

pre code, blockquote, .post-content > ul > * {
  font-size: ms(0);
  @include titlePropertiesList((0, 0, 0, 1, 1, 1));
}

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto;
  font-weight: 700;
  line-height: 1.5;
}

a {
  @include ease-in-out-transition(0.1s);
}

.body-wrap {
  position: relative;
  overflow: hidden;

  @include ease-in-out-transition(0.1s);
}

.default-speed {
  @include animation-duration(400ms);

  @include animation-delay(0ms);
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace {
  .pace-progress {
    background-color: $general-font-color;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 2px;

    @include transition(width 1s);
  }

  .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px $general-font-color, 0 0 5px $general-font-color;
    opacity: 1.0;

    @include transform(rotate(3deg) translate(0px, -4px));
  }

  .pace-activity {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: $general-font-color;
    border-left-color: $general-font-color;

    @include rounded(10px);

    @include animation(pace-spinner 400ms linear infinite);
  }
}

@include keyframes(pace-spinner) {
  from {
    @include transform(rotate(0deg));
  }

  to {
    @include transform(rotate(360deg));
  }
}


.btn {
  padding: 10px 20px;

  @include fontProperties;
}

.progress {
  height: 38px;
}

.progress-bar {
  text-align: left;
  padding-left: 20px;

  span {
    color: #fff;
    display: inline-block;
    line-height: 34px;
  }
}

ul.social {
  @include social-mixin(#fff, #fff);
}

.full-screen-nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background-color: $general-font-color;
  height: 100%;
  opacity: 0;
  z-index: 70;

  @include ease-in-out-transition(0.1s);

  &.open {
    top: 0;
    opacity: 1;
  }

  .full-screen-nav-wrap {
    display: table;
    width: 100%;
    height: 100%;

    .full-screen-nav-wrap-inner {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      .full-screen-nav-items {
        display: inline-block;
        text-align: center;
        margin: 0 auto;

        > li {
          list-style: none;
          opacity: 0;

          @include transform(translateY(-40px));

          @include ease-in-out-transition(0.1s);

          > a {
            display: block;
            min-width: 150px;
            text-decoration: none;
            text-align: center;
            background-color: transparent;
            border: solid 1px #fff;

            @include rounded(4px);

            color: #fff;
            line-height: 18px;
            padding: 10px 30px;
            margin: 20px 0;

            @include ease-in-out-transition(0.1s);
          }

          &.active > a, > a:hover {
            background-color: #fff;
          }
        }
      }
    }
  }

  &.open .full-screen-nav-wrap .full-screen-nav-wrap-inner .full-screen-nav-items > li {
    opacity: 1;

    @include transform(translateY(0));

    &:nth-of-type(1) {
      @include transition-delay(0.3s);
    }

    &:nth-of-type(2) {
      @include transition-delay(0.6s);
    }

    &:nth-of-type(3) {
      @include transition-delay(0.9s);
    }

    &:nth-of-type(4) {
      @include transition-delay(1.2s);
    }

    &:nth-of-type(5) {
      @include transition-delay(1.5s);
    }
  }
}

.search-container {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  background-color: $general-font-color;
  height: 100%;
  opacity: 0;
  z-index: 70;

  @include ease-in-out-transition(0.1s);

  &.open {
    top: 0;
    opacity: 1;
  }

  .search-container-wrap {
    display: table;
    max-width: 100%;
    width: 100%;
    height: 100%;

    .search-container-wrap-inner {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      .search-box {
        margin: 0 auto;
        max-width: 900px;
        padding-left: 40px;
        padding-right: 40px;

        .search-label {
          text-align: center;
          @include titlePropertiesList($h2-list);
          color: #A9A9A9;
          font-weight: 400;
          margin-bottom: 30px;
        }

        #search-keyword {
          background: transparent;
          border: none;
          border-bottom: solid 1px #A9A9A9;
          @include titlePropertiesList($h1-list);
          @include rounded(0);
          outline: 0;
          text-align: center;
          color: #A9A9A9;
          padding-bottom: 10px;
          width: 100%;

          &.placeholder {
            color: #A9A9A9;
          }

          &:focus {
            outline: 0;
          }
        }

        .search-result {
          padding-top: 10px;
          margin-top: 10px;
          opacity: 0;

          @include ease-in-out-transition(0.1s);

          &.searching {
            opacity: 1;
          }

          li {
            list-style: none;
            text-align: center;
            color: #A9A9A9;
            text-decoration: none;

            a {
              text-align: center;
              color: #A9A9A9;
              text-decoration: none;

              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

@include keyframes(scrollDownWheel) {
  from {
    opacity: 0;
    margin-top: -25%;
  }

  to {
    opacity: 0;
    margin-top: 25%;
  }
}


#site-intro ul.social {
  margin-top: 10px;

  li {
    margin: 0 2px;
  }
}

.main-wrap {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.body-content {
  position: relative;
  background-color: #fff;
  text-align: center;
}

body {
  &[data-post-align="left"] .body-content {
    text-align: left;
  }
}

.post-list {
  position: relative;
}

/*
-----------------------------------------------------------------------------------------
POST FORMAT
-----------------------------------------------------------------------------------------
*/
/* 4.1 POST FORMAT COMMON*/

.body-content .post {
  position: relative;

  &.even {
    background-color: $general-font-color;
  }

  &.odd {
    background-color: #fff;
  }

  .post-header {
    padding: 110px 0 120px 0;
    position: relative;
    overflow: hidden;

    .header-wrap {
      position: relative;
      z-index: 1;
      margin: 0 auto;
      max-width: 900px;
      padding-left: 40px;
      padding-right: 40px;

      .line {
        width: 250px;
        height: 2px;
        display: block;
        margin: 10px auto 10px auto;
        position: relative;

        &.has-icon {
          margin: 30px auto 30px auto;
        }
      }
    }
  }
}

body {
  &[data-post-align="left"] .body-content .post .post-header .header-wrap .line {
    margin-left: 0;
    margin-right: 0;
  }
}

.body-content .post {
  .post-header .header-wrap .line {
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      border-bottom: solid 2px #fff;
      width: 150px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      border-bottom: solid 2px #fff;
      width: 150px;
      right: 0;
    }
  }

  &.odd .post-header {
    .header-wrap .line {
      &::before, &::after {
        border-color: $general-font-color;
      }
    }

    &.has-background .header-wrap .line {
      &::before, &::after {
        border-color: #fff;
      }
    }

    &.video-post .header-wrap .line {
      &::before, &::after {
        border-color: #fff;
      }
    }
  }

  .post-header .header-wrap .line {
    &.has-icon {
      &::before, &::after {
        width: 105px;
      }
    }

    &::before {
      left: 0;
    }
  }
}

body {
  &[data-post-align="left"] .body-content .post .post-header .header-wrap .line.has-icon::before {
    left: 40px;
  }
}

body[data-uppercase="true"] .body-content .post .post-header .header-wrap .post-title {
  text-transform: uppercase;

  a {
    text-transform: uppercase;
  }
}

body[data-post-align="left"] .body-content .post .post-header .header-wrap .post-action {
  text-align: left;
}

body[data-uppercase="true"] .body-content .post .post-header .header-wrap .post-action .read-more {
  text-transform: uppercase;
}

.body-content .post .post-header.video-post {
  &.playing {
    .video:after {
      opacity: 0;
      visibility: hidden;
    }

    .header-wrap .line {
      &::before, &::after {
        opacity: 0;
        visibility: hidden;
      }

      .video-playback {
        opacity: 0.1;
      }
    }

    &:hover .header-wrap .line .video-playback {
      opacity: 1;
    }

    .header-wrap {
      .post-title, .post-meta, .post-excerpt, .post-action .read-more {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .mb_YTVPBar {
    background: transparent;

    .buttonBar {
      text-align: center;
      top: -70px;
      display: none;
    }

    &:hover .buttonBar {
      background: transparent;
    }

    span.mb_OnlyYT {
      position: relative;
      display: inline-block;
      left: auto;
      top: auto;
      right: auto;
      bottom: auto;
    }

    .mb_YTVPProgress {
      background: transparent;
      height: 8px;

      .mb_YTVPLoaded {
        height: 8px;
      }

      .mb_YTVTime {
        @include no-box-shadow;

        height: 8px;
      }
    }
  }
}

/* 4.4 AUDIO POST FORMAT */

.sf-audio-player {
  position: absolute;
  height: 100px;
  left: 0;
  right: 0;
  bottom: -50px;
}

.sc-player {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;

  .player-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: none;
  }
}

body[data-post-align="left"] .sc-player .player-container {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.sc-player {
  ol, li {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  .sc-artwork-list {
    width: 100%;
    height: 50%;
    background-color: transparent;
    list-style-type: none;
    position: relative;
    display: none;

    li {
      list-style-type: none;
      display: none;

      &.active {
        list-style-type: none;
        display: block;
      }

      img, div {
        list-style-type: none;
        width: 380px;
        height: 380px;
        float: left;
        margin: 5px 0;
      }
    }
  }

  .sc-controls {
    display: inline-block;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.3);

    @include rounded(2px);

    z-index: 999;
    position: relative;
  }
}

.sc-controls .sc-time-indicators {
  .sc-position, .sc-duration {
    font-size: 13px;
  }
}

.body-content .post.odd {
  .sc-controls .sc-time-indicators {
    .sc-position, .sc-duration {
      color: $general-font-color;
    }
  }

  .sc-player .sc-controls {
    background-color: rgba(43, 42, 43, 0.3);
  }
}

.sc-player {
  .playback, .sc-time-indicators, .sc-volume-icon, .sc-volume-slider {
    display: inline-block;
    margin: 0 5px;
  }

  .playback i {
    font-size: 13px;
  }
}

.body-content .post.odd .sc-player .playback i {
  color: $general-font-color;
}

.sc-player .sc-volume-icon {
  width: 26px;
  text-align: center;

  i {
    font-size: 13px;
  }
}

.body-content .post.odd .sc-player .sc-volume-icon i {
  color: $general-font-color;
}

.sc-player {
  .playback .sc-controls a {
    display: inline-block;
  }

  .sc-controls a.sc-pause {
    display: none;
  }

  &.playing .sc-controls a {
    &.sc-play {
      display: none;
    }

    &.sc-pause {
      display: block;
    }
  }

  .sc-volume-slider {
    width: 80px;
    background-color: #595455;
    height: 10px;
  }
}

.body-content .post.odd .sc-player .sc-volume-slider {
  background-color: #D3D3D3;
}

.sc-player .sc-volume-slider .sc-volume-status {
  display: inline-block;
  float: left;
  background-color: #fff;
  height: 10px;
}

.body-content .post.odd .sc-player .sc-volume-slider .sc-volume-status {
  background-color: $general-font-color;
}

.sc-player .sc-bar-time-span {
  display: inline-block;
  width: 150px;
  height: 10px;
  background-color: #595455;
  margin: 0 2px;
  position: relative;
}

.body-content .post.odd .sc-player .sc-bar-time-span {
  background-color: #D3D3D3;
}

.sc-player .sc-bar-time-span {
  .sc-bar-time-span-buffer {
    display: inline-block;
    position: absolute;
    height: 10px;
    background: gray;
    width: 0;
    left: 0;
    z-index: 1;
  }

  .sc-bar-time-span-played {
    display: inline-block;
    position: absolute;
    height: 10px;
    background-color: #fff;
    width: 0;
    left: 0;
    z-index: 2;
  }
}

.body-content .post.odd .sc-player .sc-bar-time-span .sc-bar-time-span-played {
  background-color: $general-font-color;
}

.sc-scrubber {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -98px;

  .sc-time-span {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
  }
}

.body-content .post.odd .sc-scrubber .sc-time-span {
  background-color: rgba(43, 42, 43, 0.2);
}

.sc-scrubber {
  .sc-buffer, .sc-played {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0.4;
    z-index: -1;
  }
}

.body-content .post.odd .sc-scrubber {
  .sc-buffer, .sc-played {
    background-color: rgba(43, 42, 43, 0.3);
  }
}

.sc-scrubber .sc-played {
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.body-content .post.odd .sc-scrubber .sc-played {
  background-color: rgba(43, 42, 43, 0.3);
}

.sc-scrubber .sc-time-indicators {
  position: absolute;
  right: 0;
  top: 30px;
  background-color: #fff;
  color: $general-font-color;
  padding: 0;
}

.body-content .post.odd .sc-scrubber .sc-time-indicators {
  background-color: $general-font-color;
}

.sc-scrubber .sc-time-span .sc-waveform-container {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.waveform-canvas {
  width: 100%;
  height: 196px;
  margin-bottom: -7px;
}

.sc-scrubber .sc-time-span .sc-waveform-container img {
  width: 100%;
  display: none;
}

.sc-player ol.sc-trackslist {
  display: none;
  margin-left: 10px;

  li {
    list-style: none;

    &.active a {
      color: red;
    }
  }
}

.sc-track-duration {
  text-align: right;
  float: right;
  padding: 0 5px;
  margin-left: 5px;
  display: none;
}

.sc-player {
  .sc-info {
    position: absolute;
    top: 10px;
    left: -5000px;
    width: 400px;
    padding: 5px;
    height: 200px;
    z-index: 500;
    margin-left: -200px;
    background: #fff;
    opacity: 0.9;

    &.active {
      left: 50%;
      top: 12%;
    }
  }

  .sc-info-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    background: #fff;
    color: #003399;

    @include rounded(4px);

    @include box-shadow(1px, 1px, 4px, #ccc);

    padding: 4px;

    &:hover {
      background: #003399;
      color: #eee;
    }

    &.active {
      left: -5000px;
    }
  }

  .sc-info-close {
    position: absolute;
    top: 10px;
    right: 20px;
    background: #003399;
    color: #fff;

    @include rounded(4px);

    padding: 2px 4px;
  }

  .hidden {
    display: none;
  }
}

.sc-player-engine-container {
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}

/*
-----------------------------------------------------------------------------------------
POST DETAIL TEMPLATE
-----------------------------------------------------------------------------------------
*/

.post-template .body-content .post {
  .post-header {
    background-color: $general-font-color;

    @include ease-in-out-transition(0.1s);

    &.img-background:after {
      background-color: $general-font-color;
    }

    .header-wrap {
      display: inline-block;
      min-height: 110px;
      opacity: 0;
      position: absolute;
      width: 100%;
      bottom: 120px;
      right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;

      @include ease-in-out-transition(0.1s);
    }
  }

  .post-content {
    display: block;
    padding: 30px 25px 20px 25px;
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: $max-width;
    text-align: left;
    background: $background-color;
  }
}

.post-template .body-content .post .post-content {
  @include headerProperties;

  img[alt*=image-post] {
    display: none;
  }

  iframe {
    &[src~="youtube"], &[src~="vimeo"], &[src~="soundclound"] {
      display: none;
    }
  }

  .video-wrap {
    iframe {
      display: block;
    }

    margin-bottom: 30px;
  }

  img {
    margin-bottom: 10px;
  }

  p {
    @include basicParagraphFont;

    margin-bottom: 30px;
  }

  blockquote {
    padding: 0 30px;
    margin: 0 0 20px;
    border-left: 5px solid $general-font-color;
  }
}

.post-template .body-content .post .post-content {
  blockquote p {
    @include fontProperties;

    font-weight: 300;
    font-style: italic;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    margin-left: 20px;
    padding-left: 0;
  }

  ul ul, ol ul {
    margin-left: 20px;
  }

  table {
    width: 100%;
    margin-bottom: 30px;

    thead {
      td, th {
        border: 1px solid $general-font-color;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #EAEDEE;
        padding: 10px 15px;
      }
    }

    tfoot td {
      border: 1px solid $general-font-color;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #EAEDEE;
      padding: 10px 15px;
    }

    tbody {
      td, th {
        border: 1px solid $general-font-color;
        padding: 5px 15px;
      }
    }
  }

  .post-footer {
    padding: 10px;
    min-height: 75px;
    text-align: left;
    background-color: #EDF1F4;
    margin-bottom: 15px;

    @include rounded(5px);

    .post-author .avatar {
      width: 70px;
      float: left;
      margin-right: 20px;
    }
  }
}

.post-template .body-content .post .post-content .post-footer .post-author {
  .avatar img {
    max-width: 50px;
    padding: 0;

    @include rounded(50%);
  }

  .post-author-content {
    zoom: 1;
    overflow: hidden;
  }

  .author-name {
    margin: 0;

    @include fontProperties;

    a span {
      font-weight: 700;
    }
  }
}

.post-template .body-content .post .post-content .post-footer .post-author .post-author-content {
  .author-info {
    display: none;
    overflow: hidden;

    span {
      display: none;
      margin-right: 10px;
    }
  }

  p {
    display: none;
    margin-bottom: 0;
  }
}

.post-template {
  .body-content .post .comment-box {
    margin: 0 auto;
    max-width: 900px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .next-post {
    position: relative;
    margin-top: 40px;
    padding: 50px 0;
    background: #fff center center;

    @include background-cover;

    z-index: 2;
    border-top: solid 2px #EDF1F4;

    &.image-post,
    &.video-post {
      border-top: none;
    }

    &.mask:after, &.video-post:after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      content: '';
      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=40)";
      filter: alpha(opacity = 40);
      opacity: 0.4;
      z-index: -1;
      background-color: #000;
    }

    .next-post-wrap {
      max-width: 900px;
      margin: 0 auto;
      padding-left: 40px;
      padding-right: 40px;
      text-align: center;

      .next-label {
        color: $general-font-color;
        margin-bottom: 10px;
        @include titlePropertiesList((0,0,0,0,1,1));
      }

      .post-title {
        margin: 0;
        padding: 0;

        a {
          @include titlePropertiesList((0,-1,-1,0,1,1));
          font-weight: 700;
          color: $general-font-color;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      .post-meta {
        color: $general-font-color;
        margin-top: 10px;
        @include titlePropertiesList((0,0,0,0,1,1));
      }
    }

    &.image-post .next-post-wrap .next-label, &.video-post .next-post-wrap .next-label {
      color: #fff;
    }
  }
}

.post-template .next-post {

  .next-post-wrap .next-arrow {
    margin-top: 20px;

    a i {
      color: $general-font-color;
      @include titlePropertiesList($h1-list);
    }
  }

  &.image-post .next-post-wrap .next-arrow a i, &.video-post .next-post-wrap .next-arrow a i {
    color: #fff;
  }
}

.post-content {

  .fullscreen-img-wrap {
    display: block;
  }

  .fullscreen-img {
    position: absolute;
    width: 100%;
    left: 0;
  }
}

/*
-----------------------------------------------------------------------------------------
PAGE TEMPLATE
-----------------------------------------------------------------------------------------
*/

.page-contact .body-content .post .post-content ul {
  margin-left: 0;

  li {
    list-style: none;

    i {
      margin-right: 20px;
    }
  }
}

.page-resume .body-content .post .post-content .resume-col {
  margin-top: 20px;
}

body[data-uppercase="true"].page-resume .body-content .post .post-content .resume-col h4 {
  text-transform: uppercase;
}

.page-resume .body-content .post .post-content .resume-col {
  .sub-title {
    font-size: 20px;
    line-height: 28px;
    font-style: italic;
    margin-bottom: 30px;
  }

  ul {
    margin-left: 0;

    li {
      list-style: none;

      i {
        margin-right: 10px;
      }
    }
  }

  .skill-label {
    display: block;
  }

  .progress.skill {
    height: 10px;
    margin-bottom: 15px;

    .progress-bar-skill {
      background-color: $general-font-color;
    }
  }

  .experience-item {
    padding: 10px;
    border: solid 1px $general-font-color;
    margin: 10px 0 20px 0;

    .com-logo {
      width: 100px;
    }

    .media-body {
      font-size: 18px;
      line-height: 28px;
    }

    .media-heading {
      font-size: 20px;

      .year {
        display: inline-block;
        float: right;
        vertical-align: middle;
        margin-left: 20px;
        font-size: 18px;
        line-height: 26px;

        i {
          font-size: 16px;
          margin-right: 5px;
        }
      }
    }
  }

  .edu-item {
    border-bottom: solid 1px $general-font-color;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;

    h4 {
      font-size: 20px;
    }

    .year {
      display: block;
      font-size: 18px;
      line-height: 26px;

      i {
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }

  .thanks {
    text-align: center;
    font-style: italic;
    margin: 20px 0 40px 0;
  }
}

body[data-uppercase="true"].page-resume .body-content .post .post-content .resume-col .thanks {
  text-transform: uppercase;
}

/*
-----------------------------------------------------------------------------------------
FOOTER
-----------------------------------------------------------------------------------------
*/

.site-footer {
  border-top: solid 1px #fff;
  background-color: #EDF1F4;
  padding: 40px 40px 30px 40px;
  position: relative;
  z-index: 2;

  .site-footer-wrap {
    margin: 0 auto;
    max-width: 1170px;
    position: relative;
  }

  &[data-layout="wide"] .site-footer-wrap {
    max-width: 100%;
  }

  .site-footer-wrap .footer-social {
    text-align: right;
    float: right;
  }
}

.site-footer {
  &.one-colum .site-footer-wrap .copyright, &.three-colums .site-footer-wrap .copyright, &.four-colums .site-footer-wrap .copyright {
    margin-top: 20px;
    text-align: center;
  }

  &.one-colum .footer-social {
    float: none;
    text-align: center;
    margin-top: 10px;
  }
}

.site-footer {
  &.three-colums .site-footer-wrap .copyright, &.four-colums .site-footer-wrap .copyright {
    padding-top: 30px;
    margin-top: 50px;
    border-top: solid 1px #C5C5C5;
  }

  &.three-colums .footer-widget-container, &.four-colums .footer-widget-container {
    margin-top: 10px;
  }

  .site-footer-wrap .totop-btn {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    margin-left: -19px;
    margin-top: -19px;
    width: 38px;
    height: 38px;
    border: solid 2px rgba(255, 255, 255, 0.65);
    @include rounded(50%);
    text-align: center;
    cursor: pointer;

    i {
      color: rgba(255, 255, 255, 0.65);
      font-size: 14px;
      vertical-align: top;
      margin-top: 10px;
      margin-left: 1px;
    }

    &:hover {
      border-color: #fff;

      i {
        color: #fff;
      }
    }
  }

  &.one-colum .totop-btn, &.three-colums .totop-btn, &.four-colums .totop-btn {
    top: 0;
    margin-top: -69px;
    background-color: $general-font-color;
    border-color: #fff;
  }
}

.widget .widget-title h3 {
  margin-top: 0;
}

body[data-uppercase="true"] .widget .widget-title h3 {
  text-transform: uppercase;
}

.widget .widget-content {
  font-size: 16px;
  line-height: 1.75;

  p, a {
    @include fontProperties;
  }

  .form-container {
    margin-bottom: 20px;

    .input-group-btn {
      line-height: 1;
    }

    .form-control {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-color: #fff;
      border-color: #DDDDDD;

      &:focus {
        border-color: $general-font-color;
      }
    }

    .btn-theme {
      @include ease-in-out-transition(0.1s);

      background-color: #ddd;
      border-color: #ddd;

      &:hover {
        background-color: $general-font-color;
        border-color: $general-font-color;

        i {
          color: #fff;
        }
      }
    }
  }

  .btn {
    padding: 5px 20px;
    font-size: 16px;
  }

  ul.social li a {
    padding-top: 1px;
  }
}

.site-footer {
  &.one-colum ul.social li, &.two-colums ul.social li {
    border-color: $general-font-color;
  }
}

.widget .widget-content ul.social li {
  border-color: $general-font-color;
}

.site-footer {
  &.one-colum ul.social li > a > i, &.two-colums ul.social li > a > i {
    color: $general-font-color;
  }
}

.widget .widget-content ul.social li > a > i {
  color: $general-font-color;
}

.site-footer {
  &.one-colum ul.social li:hover, &.two-colums ul.social li:hover {
    background-color: $general-font-color;
  }
}

.widget .widget-content ul.social li:hover {
  background-color: $general-font-color;
}

.site-footer {
  &.one-colum ul.social li:hover > a > i, &.two-colums ul.social li:hover > a > i {
    color: #fff;
  }
}

.widget .widget-content {
  ul.social li:hover > a > i {
    color: #fff;
  }

  .split-container {
    position: relative;

    .left-content {
      float: left;
      width: 75px;
      zoom: 1;
      overflow: hidden;
      margin-right: 15px;
    }
  }
}

.widget .widget-content .split-container.inverse .left-content {
  overflow: hidden;
  zoom: 1;
  float: none;
  width: auto;
  margin-right: 80px;
}

.widget .widget-content .split-container .left-content .icon-thumb i {
  font-size: 4em;
  color: #C5C5C5;
}

.widget .widget-content .split-container {
  .left-content .img-thumb {
    border: solid 4px #C5C5C5;
  }

  .right-content {
    overflow: hidden;
    zoom: 1;
  }

  &.inverse .right-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    text-align: right;
  }
}

.widget .widget-content .split-container.inverse .right-content .icon-thumb i {
  font-size: 4em;
  color: #C5C5C5;
}

.widget .widget-content .btn-resume {
  border: solid 2px $general-font-color;
  margin-top: 5px;
  padding: 5px 20px;
  color: $general-font-color;

  @include ease-in-out-transition(0.1s);
}

body[data-uppercase="true"] .widget .widget-content .btn-resume {
  text-transform: uppercase;
}

.widget .widget-content .btn-resume {
  i {
    color: $general-font-color;
    margin-left: 10px;
  }

  &:hover {
    background-color: $general-font-color;
    color: #fff;

    i {
      color: #fff;
    }
  }
}

/*
-----------------------------------------------------------------------------------------
MISC
-----------------------------------------------------------------------------------------
*/

body[data-infinite-scroll="true"] .pagination-section {
  display: none;
}

.infscr-loading {
  padding: 20px 0;
  background-color: #EAEDEE;

  div em {}
}

.home-template .post-content, .archive-template .post-content, .tag-template .post-content {
  display: none;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img {
  &.alignright {
    float: right;
    margin: 5px 0 20px 20px;
  }

  &.alignnone {
    margin: 5px 20px 20px 0;
  }

  &.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
  }

  &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.mfp-fade {
  &.mfp-bg {
    opacity: 0.001;

    /* Chrome opacity transition bug */
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;

    &.mfp-ready {
      opacity: 0.8;
    }

    &.mfp-removing {
      opacity: 0;
    }
  }

  &.mfp-wrap {
    .mfp-content {
      opacity: 0;
      -webkit-transition: all 0.15s ease-out;
      -moz-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
    }

    &.mfp-ready .mfp-content {
      opacity: 1;
    }

    &.mfp-removing .mfp-content {
      opacity: 0;
    }
  }
}

.gmap-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $general-font-color;
  overflow: hidden;
  -webkit-transform: translateZ(0px);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
  }

  .gmap {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

#gmap div.gmnoprint[title="i-am-here"] {
  height: 64px;
  width: 64px;
  background-color: $general-font-color;
  -moz-animation: pulsate 1.5s ease-in-out infinite;
  -webkit-animation: pulsate 1.5s ease-in-out infinite;
  border: 1px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 4px 6px #fff;
  position: relative;

  img {
    display: none;
  }
}

@-moz-keyframes pulsate {
  from {
    -moz-transform: scale(0.25);
    opacity: 1.0;
  }

  95% {
    -moz-transform: scale(1.2);
    opacity: 0;
  }

  to {
    -moz-transform: scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes pulsate {
  from {
    -webkit-transform: scale(0.25);
    opacity: 1.0;
  }

  95% {
    -webkit-transform: scale(1.2);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}

.outdated-frame {
  margin: 0;
  background: #ccc;
  color: #000;
  font-size: 42px;
  padding: 100px 0;
  height: 100%;
  vertical-align: middle;
  z-index: 99999;
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  strong, a {
    font-size: 42px;
  }
}

@mixin adContent() {
  &::before {
    content: 'ADVERTISEMENT';
    border-top: 1px solid #DDD;
    width: 100%;
    color: #777;
    display: block;
    text-align: left;
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &::after {
    content: '';
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
    display: block;
    margin-top: 5px;
  }
}

.adslot_1 {

  @include adContent();

  @include respond-to(phone) {
    width: 320px;
    height: 100px;
  }
  @include respond-to(tablet-portrait) {
    width: 200px;
    height: 250px;
  }
  @include respond-to(tablet-landscape-desktop) {
    width: 200px;
    height: 250px;
  }
  @include respond-to(desktop) {
    width: 728px;
    height: 90px;
  }
  @include respond-to(large-desktop) {
    width: 728px;
    height: 90px;
  }
}

.adslot_inside_card {
  margin: 20px 0 5px 0;
  width: 234px;
  height: 60px;

  @include adContent();
}

.adslot_inside_card_100pw_300pxh {
  width: 336px;
  height: 280px;

  @include adContent();
}

.post-ad {
  @include adContent();
}

#zergnet-widget-32875 {
  display: none;
}

.center-col {
  float: none;
  margin: 0 auto;
}

::selection {
  background-color: $main-color;
}

a {
  color: $main-color;

  &:hover, &:focus {
    color: $main-color;
  }
}

.pace {
  .pace-progress {
    background-color: $main-color;
  }

  .pace-progress-inner {
    box-shadow: 0 0 10px $main-color, 0 0 5px $main-color;
  }

  .pace-activity {
    border-top-color: $main-color;
    border-left-color: $main-color;
  }
}

.header {
  &.fixed-top[data-color-scheme="light"] .header-wrap .logo-container .logo.text {
    color: $main-color;
  }

  .header-wrap .nav-container .standard-nav > li > a:before {
    background-color: $main-color;
  }

  &.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .standard-nav > li > a {
    color: $main-color;

    &:before {
      background-color: $main-color;
    }
  }

  .header-wrap .nav-container .mini-nav-button {
    &.active {
      background-color: #fff;
    }

    &:hover {
      background-color: #fff;

      span {
        background-color: $main-color;
      }
    }

    &.active span {
      background-color: transparent;

      &:before {
        background-color: $main-color;
      }
    }

    &:hover span:before, &.active span:after, &:hover span:after {
      background-color: $main-color;
    }
  }

  &.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button {
    border-color: $main-color;
    color: $main-color;

    &.active, &:hover {
      background-color: $main-color;
    }

    span {
      background-color: $main-color;

      &:before, &:after {
        background-color: $main-color;
      }
    }
  }
}

.full-screen-nav .full-screen-nav-wrap .full-screen-nav-wrap-inner .full-screen-nav-items > li {
  &.active > a {
    color: $main-color;
  }

  > a {
    &:hover {
      color: $main-color;
    }

    &:before {
      background-color: $main-color;
    }
  }
}

.header {
  .header-wrap .addition-container ul.social > li:hover > a > i {
    color: $main-color;
  }

  &.fixed-top[data-color-scheme="light"] .header-wrap .addition-container {
    ul.social > li {
      border-color: $main-color;

      > a > i {
        color: $main-color;
      }

      &:hover {
        background-color: $main-color;

        > a > i {
          color: #fff;
        }
      }
    }

    .search-button {
      border-color: $main-color;

      i {
        color: $main-color;
      }

      &:hover {
        background-color: $main-color;
      }
    }
  }

  .header-wrap .addition-container .search-button:hover i {
    color: $main-color;
  }
}

#site-intro {
  background-color: $main-color;

  &.left-style .intro-wrap .intro-text .action-list .action-btn:hover, &.right-style .intro-wrap .intro-text .action-list .action-btn:hover, &.left-style .intro-wrap .intro-text .action-list .action-btn:hover i, &.right-style .intro-wrap .intro-text .action-list .action-btn:hover i {
    color: $main-color;
  }

  &.left-style .intro-wrap .intro-text .action-list .action-btn.highlight, &.right-style .intro-wrap .intro-text .action-list .action-btn.highlight {
    border-color: #6080AF;
    background-color: #6080AF;
  }

  &.left-style .intro-wrap .intro-text .action-list .action-btn.highlight:hover, &.right-style .intro-wrap .intro-text .action-list .action-btn.highlight:hover {
    background-color: $main-color;
    border-color: $main-color;
  }

  ul.social li:hover > a > i, .more-detail a:hover, &[data-more-button-style="button-only"] .more-detail a:hover {
    color: $main-color;
  }
}

.body-content .post {
  &.even {
    background-color: $main-color;
  }

  .post-header .header-wrap .line.has-icon a:hover::before, &.odd .post-header.has-background .header-wrap .line.has-icon a:hover::before, .post-header .header-wrap .post-action .read-more:hover i, &.odd .post-header.has-background .header-wrap .post-action .read-more:hover i, .post-header .header-wrap .post-action .read-more:hover, &.odd .post-header.has-background .header-wrap .post-action .read-more:hover, .post-header.has-background .header-wrap .post-action .read-more:hover i, &.odd .post-header.has-background .header-wrap .post-action .read-more:hover i, .post-header.has-background .header-wrap .post-action .read-more:hover, &.odd .post-header.has-background .header-wrap .post-action .read-more:hover {
    color: $main-color;
  }
}

.post-template {
  .body-content .post {
    .post-header {
      background-color: $main-color;
    }

    .post-content blockquote {
      border-left-color: $main-color;
    }
  }

  .next-post .next-post-wrap .next-arrow a:hover i {
    color: $main-color;
  }
}

.page-resume .body-content .post .post-content .resume-col .progress.skill .progress-bar-skill {
  background-color: $main-color;
}

.pagination-wrap .pagination {
  .page-number {
    color: $main-color;

    span {
      color: $main-color;
    }
  }

  .newer-posts, .older-posts {
    border-color: $main-color;
    color: $main-color;
  }

  .newer-posts {
    color: $main-color;

    span, i {
      color: $main-color;
    }
  }

  .older-posts {
    color: $main-color;

    span, i {
      color: $main-color;
    }
  }

  .newer-posts:hover, .older-posts:hover {
    background-color: $main-color;
  }
}

.widget .widget-content a {
  color: $main-color;
}

.gmap-container {
  background-color: $main-color;
}

#time-to-read-nofify {
  background-color: $main-color;

  &:after {
    border-left-color: $main-color;
  }
}

#gmap div.gmnoprint[title="i-am-here"] {
  background-color: $main-color;
}

.center-unknown {
  display: table;
  height: auto;
  width: 100%;
  margin-bottom: 15px;

  .el {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

}
